+++
title = "OpenELB"
linkTitle = "OpenELB"

+++

{{< blocks/cover title="OpenELB: Load Balancer Implementation for Kubernetes in Bare-Metal, Edge, and Virtualization" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubesphere/porter">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Expose your LoadBalancer Services in bare-metal, edge, and virtualization environments</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
## Why OpenELB?
<br>
<br>
In cloud-based Kubernetes clusters, Services are usually exposed by using load balancers provided by cloud vendors. However, cloud-based load balancers are unavailable in bare-metal environments.
<br>
<br>
OpenELB allows users to create LoadBalancer Services in bare-metal, edge, and virtualization environments for external access, and provides the same user experience as cloud-based load balancers.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New Feature Request" %}}
If you have any new ideas or suggestions, please submit a [proposal](https://github.com/kubesphere/community/blob/master/contribution/design-proposal-template.md).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions Welcome!" url="https://github.com/kubesphere/community" %}}
Find something to work on from [GitHub Issues](https://github.com/kubesphere/porter/issues). New contributors are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow Us on Twitter!" url="https://twitter.com/kubesphere" %}}
Obtain up-to-date information about OpenELB.
{{% /blocks/feature %}}



{{< /blocks/section >}}

{{% blocks/lead color="while" %}}
<br>
<img src="/images/cncf.svg" width="300"/>&nbsp;
<br>
OpenELB is a <a href="https://www.cncf.io/">Cloud Native Computing Foundation</a> sandbox project
{{% /blocks/lead %}}


