+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Porter - Bare Metal Load-balancer for Kubernetes Cluster " image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubesphere/porter">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Expose your LoadBalancer type of service from bare metal Kubernetes cluster</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
## Why Porter?
<br>
<br>
In the cloud-hosted Kubernetes cluster, the cloud providers usually provide the Load-Balancer to assign IPs and bring traffic into Kubernetes cluster. However, Kubernetes does not provide a load-balancer for bare metal cluster.
<br>
<br>
Fortunately, Porter allows you to create Kubernetes services of type LoadBalancer in bare metal cluster, which makes you enjoy the consistent experience with the cloud.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New Feature Request" %}}
If you have any new ideas or suggestions, please submit a [proposal](https://github.com/kubesphere/community/blob/master/contribution/design-proposal-template.md).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kubesphere/community" %}}
Find something to work on from [GitHub Issue](https://github.com/kubesphere/porter/issues). New contributors are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kubesphere" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
